<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="8" name="TestChrome">
     	<parameter name="Browser" value="Chrome"></parameter>
   		<parameter name="name" value="manasa"></parameter>
		<parameter name="password" value="abc123"></parameter>
		<parameter name="url" value="https:urlname"></parameter>
		
		<parameter name="Adminlogin" value="manasa"></parameter>
		<parameter name="Adminpassword" value="password"></parameter>
		<parameter name="Adminurl" value="url"></parameter> 
		<classes> 
		<class name="com.snapworks.tests.SnapWorksClientFullTest"/>
   <!--  <class name="com.snapworks.tests.NonComplianceTest"/>
   		 
		<class name="com.snapworks.tests.EmploymentPlanTest"/>
		<class name="com.snapworks.tests.SanpWorksFullTest"/>
   		<class name="com.snapworks.tests.ReimbursementTest"/>
		<class name="com.snapworks.tests.Login"/>
  	    <class name="com.snapworks.tests.ComponentTest"/>
		<class name="com.snapworks.tests.SanpWorksFullTest"/>
   	    <class name="com.snapworks.tests.ReportsTest"/> 
   	    <class name="com.snapworks.tests.Login"/>
   	    <class name="com.snapworks.tests.SanpWorksFullTest"/
      	<class name="com.snapworks.tests.AnnouncementsTest"/>
      <class name="com.snapworks.tests.TasksStatsTest"/>
      <class name="com.snapworks.tests.SanpWorksFullTest"/>
      <class name="com.snapworks.tests.NonComplianceTest"/>
      <class name="com.snapworks.tests.SearchPageTest"/>
      <class name="com.snapworks.tests.AppointmentTest"/>
      <class name="com.snapworks.tests.LoginTestReport"/>
      <class name="com.snapworks.tests.CaseNotesTest"/>
      <class name="com.snapworks.tests.AssessmentTest"/>
      <class name="com.snapworks.tests.Login"/>
      <class name="com.snapworks.tests.ContactHistoryTest"/>
      <class name="com.snapworks.tests.ReimbursementTest"/>
      <class name="com.snapworks.tests.CreateTaskTest"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
